* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
header {
  width: 100%;
  height: auto;
  z-index: 3;
  position: fixed;
  background-color: rgb(250, 248, 245);
  box-shadow: 0px 2px 2px 0px rgb(146, 134, 116);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(208, 224, 208);
}
.logo-input-search {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-login {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header img[id="logo"] {
  height: auto;
  width: 125px;
}
.header img[id="flower"] {
  height: auto;
  width: 200px;
  padding: 10px;
}
input {
  width: 45%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgb(185, 146, 222);
  outline: none;
  padding: 10px;
}
button[id="search"] {
  height: 30px;
  padding: 5px;
  font-size: 15px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 0px 4px 4px 0px;
}
button[id="cart"] {
  font-size: 15px;
  color: blueviolet;
  border: none;
  background: none;
}
button[id="cart"]:hover {
  cursor: pointer;
}
button[id="login"] {
  font-size: 15px;
  color: blueviolet;
  border: none;
  background: none;
}
button[id="login"]:hover {
  cursor: pointer;
}

/* **************************** NAV SECTION **************************** */

.nav {
  width: 100%;
  height: 40px;
  box-shadow: -1px 1px 1px 0px rgba(167, 149, 149, 0.75);
  display: flex;
  align-items: center;
}
.menu {
  margin-left: 113px;
}

.menu a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 40px;
  color: rgb(46, 79, 46);
}
.baby-modal {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  box-shadow: -1px 6px 5px 1px rgba(167, 149, 149, 0.75);
  border-top: 3px solid blue;
  display: flex;
}
.display-none {
  position: absolute;
  left: 200px;
  top: 123px;
  display: none;
}
.baby-modal a {
  color: rgb(68, 79, 79);
  display: block;
  text-decoration: none;
  padding: 5px;
}
.baby-modal a:hover {
  color: green;
}
.beauty-display-none {
  position: absolute;
  left: 280px;
  top: 123px;
  display: none;
}
.hair-display-none {
  position: absolute;
  left: 350px;
  top: 123px;
  display: none;
}
.face-display-none {
  position: absolute;
  left: 400px;
  top: 123px;
  display: none;
}
.body-display-none {
  position: absolute;
  left: 450px;
  top: 123px;
  display: none;
}

/* ********************************* CART ************************** */

.cart-container {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  background-color: #0c0606b6;
  position: fixed;
  top: 0;
  left: 0;
}
.cart-product-container {
  width: 30%;
  height: 100%;
  background-color: white;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.cart_content3 {
  width: 100%;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
}
.cart_content4{
  width: 100%;
  height: 15%;
}
.Checkout{
  width: 80%;
  height: 40%;
  margin: 2% 10%;
  background-color: blueviolet;
  border: none;
  color: white;
  font-size: large;
  border-radius: 0 0 5px 5px;
  transition-duration: 1s;
}
.Checkout:hover {
  background-color: white;
  color: blueviolet;
  border: 3px solid blueviolet;
  cursor: pointer;
}
button[id="close"] {
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px;
}
button[id="close"] i {
  color: blueviolet;
  font-size: large;
  font-weight: bolder;
  padding: 5px;
}
.cart_content1 {
  width: 100%;
  height: 50px;
  box-shadow: -1px 2px 3px 1px rgba(167, 149, 149, 0.75);
}
.cart_data {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin: 10px;
}

.cart_image_name {
  width: 100px;
  height: 100px;
}
.cart-img-text {
  width: 50%;
}
.image_name {
  font-size: 15px;
  color: rgb(144, 104, 182);
}

.price_name {
  color: blueviolet;
}
.deletebutton {
  width: 60px;
  height: 30px;
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}

/******************************* STORE LOCATORE *********************  */

.product h3 {
  margin-left: 40px;
  color: blueviolet;
}

.ul {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: rgb(119, 119, 119);
  font-family: Lato;
}

.ul li {
  list-style: none;
  padding: 5px 10px;
  margin: 150px 0px 0px 0px;
  cursor: pointer;
  font-size: 2em;
}

.ul li:hover {
  border-bottom: 1px solid blue;
}

p {
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: 0.16px;
  color: rgb(113, 113, 113);
  margin: 5px 40px;
}

.button {
  width: 160px;
  height: 40px;
  background-color: rgb(0, 174, 239);
  border-radius: 4px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
  color: white;
}

.product {
  /* width: 100%; */
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 400px;
}

.product div {
  margin-top: 70px;
  width: 600px;
  height: 180px;
  margin-bottom: 10px;
  display: none;
}

iframe {
  position: absolute;
  width: 500px;
  height: 350px;
  left: 750px;
  bottom: 250px;
}

hr {
  margin-top: 50px;
}

i {
  color: rgb(0, 175, 239);
}

/* --------------------Hover Effect----------------------  */

.sub-menu-wrap {
  border-top: 2px solid rgb(0, 175, 239);
  position: absolute;
  top: 67%;
  left: 79.5%;
  width: 280px;
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 26%) 0px 8px 16px;
  transition: all 0.2s ease 0s;
  color: rgb(45, 48, 46);
  font-family: Lato;
  font-weight: 500;
  cursor: pointer;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 120px;
  background-color: rgb(152, 152, 152);
  margin: 15px 0px 10px;
}
.user-info a {
  text-decoration: none;
}
.user-info li {
  font-size: 0.8rem;
  list-style: none;
  margin: 0.5rem;
  padding: 0.25rem;
}

.user-info li:hover {
  color: rgb(0, 175, 239);
}

.user-info hr {
  width: 280px;
}

#popup {
  color: rgb(0, 175, 239);
}

.good {
  font-size: 22px;
}

.third {
  height: 40px;
}

.order {
  position: absolute;
  left: 40px;
  bottom: 170px;
  font-size: 16px;
}

.goodness {
  color: rgb(0, 175, 239);
}

.insider {
  font-size: 22px;
  color: rgb(44, 136, 44);
}

.logbut {
  padding: 0.18rem;
  width: 250px;
  display: inline-block;
  font-family: Roboto, Lato;
  font-size: 1rem;
  font-weight: 500;
  /* text-transform: uppercase; */
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(0, 175, 239);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/****************************** LOGIN *************************/

.login_popup_main_container {
  width: 400px;
  height: 600px;
  background-color: white;
  position: fixed;
  top: 50px;
  left: 40%;
  border-radius: 10px;
  display: none;
  border: 1px solid black;
  z-index: 4;
}

.login_popup {
  height: auto;
  width: auto;
}

.login_heading {
  margin: 10px 45px;
  font-weight: 700;
  display: block;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ligin_mamacash {
  margin: 30px 22px;
}

.login_img_text {
  display: flex;
  color: white;
  margin: 10px 22px;
}

.login_input {
  margin: 20px 20px;
}

.login_input input {
  width: 340px;
  height: 40px;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

.login_term_condition {
  margin: 30px 20px;
  font-size: 17px;
  color: black;
}

.login_with_otp {
  width: 350px;
  height: 40px;
  margin: 10px 20px;
  background-color: rgb(72, 180, 247);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#cross {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: darkgray;
}

/**************************** SIGN UP *************************/

.signup_popup {
  width: 400px;
  height: 500px;
  background-color: white;
  display: none;
}
.signup_heading {
  margin: 10px 40px;
  font-weight: 700;
  display: block;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.signup_input {
  margin: 20px 20px;
}
.signup_input input {
  width: 330px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid black;
}

.signup_gender {
  margin: 20px 20px;
  color: black;
}
.signup_gender input {
  width: 15px;
}

#signup_btn {
  width: 350px;
  height: 40px;
  margin: 10px 20px;
  background-color: rgb(59, 174, 245);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#signup_left_arrow {
  position: absolute;
  top: 23px;
  left: 10px;
  background: none;
  border: none;
  color: black;
}

/***************************** SIGN IN *************************/

.signin_popup {
  width: 400px;
  height: 500px;
  background-color: white;
  display: none;
}

.signin_heading {
  margin: 10px 80px;
  font-weight: 700;
  display: block;
  color: black;
  font-family: serif;
}

.signin_email {
  margin: 20px 20px;
}

.signin_email input {
  width: 330px;
  height: 30px;
  padding-left: 15px;
  border: 1px solid black;
}

#signin_btn {
  width: 350px;
  height: 40px;
  margin: 10px 20px;
  background-color: rgb(62, 181, 255);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#signin_cross {
  background: none;
  border: none;
}
.user-info a {
  color: black;
  text-decoration: none;
  position: relative;
  right: 10px;
}
.user-info a li:hover {
  color: rgb(0, 175, 239);
}

/****************************** LOG OUT ***********************/

.logout_popup {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 40%;
  display: none;
  background-color: white;
  z-index: 3;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.66); */
}

#logout {
  width: 80px;
  height: 80px;
  margin: 50px 70px;
  border-radius: 50%;
  font-size: 50px;
  border: 2px solid yellow;
  background-color: orange;
  color: white;
}
.logout {
  color: green;
}

/* ================================footer css======================================= */

.footer {
  display: flex;
  justify-content: center;
}
.footer-bowl {
  /* background-color:orange; */
  margin-top: 20px;
  width: 1150px;
  height: auto;
  border: 1px solid rgb(234, 234, 234);
  /* padding-bottom: 2rem; */
  margin-bottom: 1rem;
}

/* ///////////////////-- first col--/////////////////////// */

.imgtruck {
  width: 38px;
  height: 38px;
}

#first-col {
  display: flex;
  border-bottom: 1px solid rgb(234, 234, 234);
  height: 150px;
}

.shiping {
  border-right: 1px solid rgb(234, 234, 234);
  width: 300px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem 0px;
  text-align: center;
}

.cod-bowl {
  /* border-right: 1px solid blue; */
  width: 250px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem 0px;
  text-align: center;
}

.free-head {
  padding: 10px;
}
.cod-head {
  padding: 10px;
}
.contactus-bowl {
  text-align: center;
  padding-top: 25px;
  padding-left: 11rem;
}

.head2 {
  color: green;
  padding: 1px;
}

#contact-btn {
  background-color: white;
  font-family: Roboto, Lato;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  /* color: rgb(0, 175, 239); */
  border: 1px solid rgb(1, 168, 230);
  border-radius: 5px;
  padding: 0.7rem 3rem;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.payment-bowl {
  width: 500px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.card {
  max-width: 70px;
  margin-left: 0.3rem;
  margin-top: 0.7rem;
}
.img1 {
  width: 1.25rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}
.opetion-card {
  padding-left: 3rem;
  margin-top: 50px;
}
.dermato-img {
  width: 50px;
  min-width: 45px;
  margin-bottom: 0.5rem;
}
.dermato-p {
  font-size: 12px;
}
.fda-img {
  width: 50px;
  min-width: 45px;
  margin-bottom: 0.5rem;
}
.fda-p {
  font-size: 12px;
}
.safe-img {
  width: 50px;
  min-width: 45px;
  margin-bottom: 0.5rem;
}
.safe-p {
  font-size: 12px;
}

.payment-certificate {
  display: flex;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.certificate-bowl {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
}
.dermato {
  text-align: center;
}
.fda {
  text-align: center;
}
.safe {
  text-align: center;
}

.imp-link {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-bottom: 1rem;
}
.useful-head {
  font-size: 20px;
  padding-top: 20px;
  color: rgb(61, 61, 61);
}

.link-foot {
  list-style: none;
  padding-top: 15px;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4em;
}

.link-foot a {
  color: rgb(92, 92, 92);
  text-decoration: none;
}

.bb img {
  padding-top: 2rem;
  width: 150px;
  height: 300px;
}

.social-help {
  text-align: center;
  padding-top: 1.5rem;
  color: rgb(61, 61, 61);
}
.heart {
  color: red;
  font-size: 23px;
}
.social-img {
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(234, 234, 234);
  color: rgb(61, 61, 61);
}

.fa-brands {
  padding-left: 1rem;
}
.fa-regular {
  padding-left: 1rem;
}

.end {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(234, 234, 234);
}

.end h3 {
  color: rgb(92, 92, 92);
  padding-top: 0.5rem;
}
.c {
  font-size: small;
  align-items: center;
}
.mb-1 {
  position: relative;
  bottom: 10px;
}
#contact-btn:hover {
  background-color: rgb(46, 191, 239);
  color: white;
}
